<div *ngIf="!isLogin">
<div class="container">
    <div class="content">
        
        <h1>Login</h1>
        <form (ngSubmit)="onLogin()" #login="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
       required
       [(ngModel)]="username" name="username">
       <!-- <div [hidden]="username"
               class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required  [(ngModel)]="password" name="password">
        </div>
        
        <button class="btn btn-primary" type="submit">submit</button>
        <a routerLink="/signup" style="margin-left: 110px;">signup an account</a>
    </form>
        
        <div *ngIf="errorEmptyField" class="alert alert-danger">
            Username or password cannot be empty.
        </div>
        <div *ngIf="errorInvalidUserName" class="alert alert-danger">
            Invalid username or password.
          </div>
          
    </div>
</div>
</div>
<div *ngIf="isLogin">
    <h1>Already login</h1>
    <button (click)="backToDetail()">back to detail</button>
</div>